{#
/**
 * @file
 * Theme implementation for webform element help
 *
 * Available variables
 * - element: form element
 * - help: Help content.
 * - help_icon: Help icon.
 *
 * @see template_preprocess_webform_element_help()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
{% set message = attributes['data-webform-help'] %}
<span{{ attributes.addClass(utility_classes).removeAttribute('data-webform-help').removeAttribute('tabindex')  }}>
    <button type="button" aria-hidden="true" class="webform__help material-symbols-sharp">help</button>
    <dialog id="{{ attributes.id }}">
        {% if help_title %}
            <strong>{{help_title }}</strong>
        {% endif %}
        {{ help|render }}
        <button type="button" class="webform-help__close">
            <span class="sr-only">Close</span>
            <span aria-hidden="true" class="material-symbols-sharp">close</span>
        </button>
    </dialog>
</span>
{% endapply %}