{#
/**
 * @file
 * Theme implementation for webform element more.
 *
 * Available variables
 * - title: More label.
 * - content: More content.
 *
 * Based on WAI-ARIA Authoring Practices 1.1: Disclosure (Show/Hide)
 *
 * @see https://www.w3.org/TR/wai-aria-practices-1.1/#disclosure
 * @see https://www.w3.org/TR/wai-aria-practices-1.1/examples/disclosure/disclosure-faq.html
 * @see template_preprocess_webform_element_more()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'webform-more',
  ]|merge(utility_classes ? utility_classes : [])
%}
<details{{ attributes.addClass(classes) }}>
  <summary class="webform-more__sumamry">{{ more_title }}
    <span aria-hidden="true" class="webform-more__indicator material-symbols-sharp">expand_more</span>
  </summary>
  <div id="{{ attributes.id }}--content" class="webform-more__content">{{ more }}</div>
</details>
